*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav{
    background-color: #160F29;
}

.best-titles,span{
    font-weight: bold;
}

#slider-best{
    display: flex;
    justify-content: space-around;
}

#slider{
    margin-top: 56px;
    margin-bottom: 5vh;
    width: 70%;
}

.card{
    margin: 10px;
}

.card-text{
    height: 150px;
}

#about-us,#filter-results{
    margin-bottom: 100px;
}

.main,#gallery{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

#footer,.button{
    display: flex;
    justify-content: space-around;
    text-align: center;
    white-space: nowrap;
}

.card-column{
    max-width: 20%;
    margin-top: 10vh;
}

#filters,#about-us{
    margin-top: 10vh;
}

.random-drink{
    margin-bottom: 4vh;
}

.navbar-brand,.text-center,.page-description,.title,.content{
    font-weight: bold;
}

@media screen and (max-width: 991px){
    .card-column{
        display: none;
    }
    #slider{
        width: 100%;
    }
}

@media screen and (max-width: 768px){
    #item2,#item5,#item8{
        display: none;
    }  
}

@media screen and (max-width: 576px){
    #item1,#item4,#item7{
        display: none;
    }
    .card-text{
        height: auto;
    }
}

@media screen and (max-width: 268px){
    #slider,#filters,#about-us,#gallery{
        margin-top: 96px;
    }
}